.bg-two{

    background-color: #1F2AF8;
}

.bg-primary {
    background-color:whitesmoke;
}

.bg-dark {
    color:#1F2AF8;
    background-color: #fff;
}
.bg-one{
    width: 100%;
    background-color: transparent;
    background-image: url('../assets/Page\ communication\ site-1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 0!important;
}