/*

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com

*/

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
}
.date{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
}
body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #1F2AF8;
    color: white;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}



a:hover,
a:focus {
    color: #1F2AF8;
    outline: 1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color:whitesmoke;
}

.bg-dark {
    color:#1F2AF8;
    background-color: #fff;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color:whitesmoke
}

.text-dark {
    color: whitesmoke;
}

.text-primary {
    color: #1F2AF8;
}
.text-secondary {
    color: white;
}

.modal-content {
    background-color:#1F2AF8;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.navbar-default { /*La partie bare de menu*/
    border-color: #1F2AF8;
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color:whitesmoke;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #1F2AF8;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #f2f2f2;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { /* Couleur de fond du bouton toggle menu*/
    background-color: whitesmoke;
}
.blanchir{
    color: white!important;

}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;

}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #1F2AF8 !important;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #1F2AF8 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}
.coloration{
    color: #1F2AF8!important;
}
.head-box{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .4s;
   
    
}
.left-box{
    margin-top: 6rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .4s;

}

.bouton-decouvrez{

    height: auto;
    width: auto;
    padding: .2em;
    color: #1F2AF8;
    font-size: 2em;
    border-top: unset;
    border-bottom: unset;
    border-width: medium;
    border-left:2px solid #1F2AF8;
    border-right:2px solid #1F2AF8;
    transition: all .4s;
}

.icone-recherche{
    background-color:#1F2AF8;
    text-align: center!important;
    padding: 4px!important;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    height: 2px!important;
    font-size: 22px!important;
    border:1px solid #1F2AF8;
    border-radius: 0 0 15px 0;
    width: 35px!important;
cursor: pointer;
transition: all .4s;
    
}

.recherche{
    height: 3.5rem;
    padding: .5em;
    margin-top: 2em;
    border: 3px solid #1F2AF8;
    border-radius: 0 0 0 15px;
    border-color: #1F2AF8;
    text-align: center;
    font-size: 1.5em;
    background: transparent;
    transition: all .4s;

}

.recherche :focus{
    border: 3px solid #1F2AF8;
    border-radius: 0 0 0 15px;
    border-color: #1F2AF8;
    transition: all .4s;
}


.boutons{
    height: auto;
    width: auto;
    padding: .2em;
    font-size: 2em;
    border-radius: 15px;
    font-style: italic;
    font-weight: 600;
    border: unset;
    margin: 10px;
    transition: all .4s;
    transition: ease;

}

.bouton1{
    color: white;
    background-color: #1F2AF8;
    transition: all 1s;
    border: 1px solid transparent;
    


}

.bouton2{
    color: #1F2AF8;
    background-color: white;
    transition: all .4s;
    border: 1px solid transparent;
    
}

.bouton2:hover{
    color: white;
    border: 2px solid white;
    background-color: #1F2AF8;
    transition: ease;
    transition: all .4s;
}
    

.bouton1:hover{
    color: #1F2AF8;
    background-color: white;
    border: 2px solid #1F2AF8;
    transition: ease;
    transition: background-color ease 1s;


    
}
.slogant{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: gray;
    border-left: .5em solid gray;
    text-align: left;
    padding: .1em;
    font-weight: 600;
    transition: all .4s;
}
.icone-ru{
    position:relative!important;
    left: 100%!important;
    text-align: center!important;
    padding: 4px!important;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    height: 2px!important;
    font-size: 22px!important;
    width: 35px!important;
    transition: all .4s;
}




@media(min-width:768px) {
    
  

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 8px;
        border: solid #1F2AF8 ;
        border-radius: 0 0 15px 15px;
        text-align:center ;

        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: #1F2AF8;
        background-color: whitesmoke;
        min-height: 100px;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #1f2faf;
        padding: 20px;
        letter-spacing: 1px;
    }


    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #1F2AF8;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #9c27b0;
    }
    header{
        background-color:whitesmoke;

    }

}

header { /*tout l'espace contenant la carte au font*/
    position: relative;
    min-height: auto;
    text-align: center;
    color:white;
    width: 100%;
    background-color: transparent;
    background-image: url('../assets/pa.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content { 
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}


header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p{
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #1f2faf;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.04);
}


#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}


#video-background.collapsing {
  display:none;
}

footer {
    background-color:whitesmoke;
}


@media(min-width:768px) {
    
    .navbar-default {
        border-color: transparent;
        background-color:transparent;
        min-height: 110px;
    }
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #1F2AF8;
    background-color: #fff;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: white;
    background-color: #1F2AF8;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #fff;
    border-color:#fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.btn-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
width: 8em;
height: auto;
padding-top: 3px;
margin: 5px;


}
@keyframes download-effect{
    0%{
        width: 0;

    }
    25%{
        width: 2em;

    }
    50%{
        width: 4em;

    }
    75%{
        width: 6em;

    }
    100%{
        width: 8em;

    }


}
.bar-bleu{
    width: 8em;
    height: 6px;
    background-color: #1F2AF8;
    margin-bottom: 2px;

}

.btn-menu:hover .bar-bleu{
animation: download-effect .5s ease-in-out;
}

.logo{
height: 100px;
width:150px;


position: relative;
bottom: 1em;

}
@media(max-width:780px) {
    .header-content{
   
      display: flex;
      flex-direction: column;
      height: auto!important;
    }
    .head-box{
       height: 80vh;
       width: 100%;
       display: flex;
       flex-direction: column;
       padding-top: 2em;
   
       
      
           
       }
       .navbar-collapse{
           padding-top: 28px;
       }
       #date{
           display: none;
       }
      
       .left-one{
       order: 2;
     
       }
       .right-one{
           order:1;
           height: auto!important;
       }
       .right{
           padding-top: 15px!important;
       }
       .navbar-default {
           border:unset;
           background-color:transparent;
           min-height: 90px;
       }
       .navbar-default.affix {
           border-bottom: solid #1F2AF8;
           border-color: #1F2AF8;
           background-color: whitesmoke;
           min-height: 100px;
       }
       .boutons-group{
           flex-direction: column;
       }
   }